header {
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0.05em;
  margin-bottom: 1.25em;
  text-transform: uppercase;
  color: #021859;
}


ion-item {
  border-radius: 15px;
  border: 1.5px solid #021859;
  background-color: #ffffffbd;
  margin-bottom: 2%;
}

ion-select {
  width: 100%;
  max-width: 100%;
}
