#map_canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
// ion-content {
//   margin: 0;
//   padding: 0;
// }

ion-footer ion-label {
  color: #293281; // #3e478c;
}

.link {
  color:blue;
  text-decoration:underline;
  cursor:pointer;
}

// ion-fab-button {
//   margin-left: 140px;
//   overflow: visible;
//   position: relative;
// }
// ion-fab-list {
//   ion-label {
//     position: relative;
//     top: 40px;
//     right: 25px;
//     color: white;
//     background-color: rgba(0, 0, 0, 0.7);
//     line-height: 24px;
//     padding: 4px 8px;
//     border-radius: 4px;
//   }
// }
// ion-fab {
//   ion-badge {
//     position: relative;
//     top: 15px;
//     left: 183px;
//     border-radius: 50%;
//     padding: 0px;
//   }
// }
