<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Two
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="map_canvas">
  </div>

</ion-content>
<ion-footer *ngIf="pinEnable" style="padding: 5%;">
  <ion-toolbar>
    <!-- <ion-title>Footer</ion-title> -->
    <ion-row>
      <ion-col>
        <ion-label style="font-size:0.8rem;">NUMERO</ion-label><br>
        <ion-label>
          <strong>{{propiedadesObject.id}}</strong>
        </ion-label>
      </ion-col>
      <ion-col>
        <ion-label style="font-size:0.8rem;">TIPO</ion-label><br>
        <ion-label><strong>{{propiedadesObject.tipo|titlecase}}</strong></ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label style="font-size:0.8rem;">DIRECCION</ion-label><br>
        <ion-label>
          <strong>{{propiedadesObject.calle}}</strong>
        </ion-label>
      </ion-col>
      <ion-col>
        <ion-label style="font-size:0.8rem;">REFERENCIA</ion-label><br>
        <ion-label>
          <strong>{{propiedadesObject.referencia}}</strong>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label style="font-size:0.8rem;">TIEMPO A LLEGAR</ion-label><br>
        <ion-label><strong>30 s</strong></ion-label>
      </ion-col>
      <ion-col>
        <ion-label style="font-size:0.8rem;">DISTANCIA</ion-label><br>
        <ion-label><strong>100 m</strong></ion-label>
      </ion-col>
    </ion-row>
    <br>
    <ion-row>
      <ion-col text-center>
        <ion-button shape="round" color="secondary">reservar</ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>