<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Two
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div id='map_canvas'>
  </div>
  <div style="top: 5%;left: 2%;position: relative;" *ngIf="reservado">

    <ion-row>
      <ion-col text-left>
        <ion-icon name="arrow-back" color="primary" (click)="cancelarParking()" style="font-size: 2rem;"></ion-icon>
        <!-- <ion-button (click)="cancelarParking()" fill="outline" color="secondary">
        </ion-button> -->
      </ion-col>
    </ion-row>
  </div>
  <!-- 
  <ion-item color="secondary" style="top: 5%;" *ngIf="!reservado">
    <ion-select [(ngModel)]="tipoAutomovil" interface="action-sheet" placeholder="Seleccione un elemento"
      (ionChange)="changeState()">
      <ion-select-option value="1">Automovil</ion-select-option>
      <ion-select-option value="3">Motocicleta</ion-select-option>
      <ion-select-option value="2">Especial</ion-select-option>
    </ion-select>
  </ion-item> -->

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button *ngIf="reservado" color="secondary" (click)="showHideInstruccionsDir()">
      <ion-icon name="compass"></ion-icon>
    </ion-fab-button>
    <ion-fab-button *ngIf="!reservado" id="cart-btn" color="secondary">
      <ion-icon name="arrow-dropup">
      </ion-icon>
    </ion-fab-button>
    <ion-fab-list *ngIf="!reservado" side="top">
      <ion-fab-button color="light">
        <ion-icon style="font-size: 2.5rem;" (click)="changeState(2)" src="assets/parkingicons/special.svg"></ion-icon>
      </ion-fab-button>
      <!-- <ion-label>Detalles</ion-label> -->
      <ion-fab-button color="light">
        <ion-icon style="font-size: 2.5rem;" (click)="changeState(3)" src="assets/parkingicons/motorbike.svg">
        </ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon style="font-size: 2.5rem;" (click)="changeState(1)" src="assets/parkingicons/car.svg"></ion-icon>
      </ion-fab-button>
      <!-- <ion-label>¿C&oacute;mo llegar?</ion-label> -->
    </ion-fab-list>
  </ion-fab>






</ion-content>

<ion-footer *ngIf="footerEnable">
  <ion-toolbar *ngIf="dirEnable||!reservado" style="padding:5%;">
    <ion-row>
      <ion-col>
        <ion-label style="font-size:0.8rem;">N&Uacute;MERO</ion-label><br>
        <ion-label>
          <strong>{{propiedadesObject.adicional.id}}</strong>
        </ion-label>
      </ion-col>
      <ion-col>
        <ion-label style="font-size:0.8rem;">TIPO</ion-label><br>
        <ion-label><strong>{{propiedadesObject.adicional.descripcion|titlecase}}</strong></ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label style="font-size:0.8rem;">DIRECCI&Oacute;N</ion-label><br>
        <ion-label>
          <strong>{{propiedadesObject.adicional.calle}}</strong>
        </ion-label>
      </ion-col>
      <ion-col>
        <ion-label style="font-size:0.8rem;">REFERENCIA</ion-label><br>
        <ion-label>
          <strong>{{propiedadesObject.adicional.referencia}}</strong>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label style="font-size:0.8rem;">TIEMPO A LLEGAR</ion-label><br>
        <ion-label *ngIf="propiedadesObject.navegacion.duration!=null">
          <strong>{{sectoMin(propiedadesObject.navegacion.duration)}}</strong></ion-label>
      </ion-col>
      <ion-col>
        <ion-label style="font-size:0.8rem;">DISTANCIA</ion-label><br>
        <ion-label *ngIf="propiedadesObject.navegacion.distance!=null">
          <strong>{{propiedadesObject.navegacion.distance}}
            m</strong></ion-label>
      </ion-col>
    </ion-row>
  </ion-toolbar>

  <ion-row *ngIf="!reservado" style="padding-bottom: 2%;">
    <ion-col text-center>
      <ion-button shape="round" color="secondary" (click)="gotoReservar()">Ver ruta</ion-button>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="reservado" style="padding-bottom: 2%;">
    <ion-col text-center>
      <ion-button (click)="estoyEstacionado()" shape="round" color="secondary">ya llegu&eacute; </ion-button>
    </ion-col>
  </ion-row>

</ion-footer>