<ion-content>
  <div id='map_canvas'>
  </div>
  <ion-button style="top: 15%; position: relative; float: right;" color="light" *ngIf="!reservado" (click)="refresh()">
    <ion-icon name="refresh"></ion-icon>
  </ion-button>
  <ion-button *ngIf="!reservado" style="position: absolute; bottom: 0;" color="light" (click)="showInfo()">
    <ion-icon name="information-circle-outline"></ion-icon>
  </ion-button>


  <div style="top: 5%;left: 2%;position: relative;" *ngIf="reservado">
    <ion-row>
      <ion-col text-left size="1.5" (click)="cancelarParking()">
        <ion-icon name="arrow-back" color="primary" style="font-size: 2.5rem;"></ion-icon>
      </ion-col>
    </ion-row>
  </div>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button *ngIf="reservado" color="light" (click)="showHideInstruccionsDir()">
      <ion-icon name="compass"></ion-icon>
    </ion-fab-button>
    <ion-fab-button *ngIf="!reservado" id="cart-btn" color="light">
      <ion-icon name="arrow-dropup">
      </ion-icon>
    </ion-fab-button>
    <ion-fab-list *ngIf="!reservado" side="top">
      <ion-fab-button color="light">
        <ion-icon style="font-size: 2.5rem;" (click)="changeState(3)" src="assets/parkingicons/special.svg"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon style="font-size: 2.5rem;" (click)="changeState(2)" src="assets/parkingicons/motorbike.svg">
        </ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon style="font-size: 2.5rem;" (click)="changeState(1)" src="assets/parkingicons/car.svg"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>

<ion-footer *ngIf="footerEnable">
  <ion-toolbar *ngIf="dirEnable||!reservado" style="padding:5%;">
    <ion-row>
      <ion-col>
        <ion-label style="font-size:0.8rem;">N&Uacute;MERO</ion-label><br>
        <ion-label>
          <strong>{{propiedadesObject.adicional.eid}}</strong>
        </ion-label>
      </ion-col>
      <ion-col>
        <ion-label style="font-size:0.8rem;">TIPO</ion-label><br>
        <ion-label><strong>{{propiedadesObject.adicional.tipo==1?'Autom&oacute;vil':'Motocicleta'}}</strong>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label style="font-size:0.8rem;">DIRECCI&Oacute;N</ion-label><br>
        <ion-label>
          <strong>{{propiedadesObject.adicional.nombre}}</strong>
        </ion-label>
      </ion-col>
      <ion-col>
        <ion-label style="font-size:0.8rem;">REFERENCIA</ion-label><br>
        <ion-label>
          <strong>{{propiedadesObject.adicional.referencia}}</strong>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label style="font-size:0.8rem;">TIEMPO A LLEGAR</ion-label><br>
        <ion-label *ngIf="propiedadesObject.navegacion.duration!=null">
          <strong>{{sectoMin(propiedadesObject.navegacion.duration)}}</strong></ion-label>
      </ion-col>
      <ion-col>
        <ion-label style="font-size:0.8rem;">DISTANCIA</ion-label><br>
        <ion-label *ngIf="propiedadesObject.navegacion.distance!=null">
          <strong>{{propiedadesObject.navegacion.distance}}
            m</strong></ion-label>
      </ion-col>
    </ion-row>
  </ion-toolbar>

  <!-- <ion-row *ngIf="!reservado" style="padding-bottom: 2%;">
    <ion-col text-center>
      <ion-button shape="round" color="secondary" (click)="gotoReservar()">Ver ruta</ion-button>
    </ion-col>
  </ion-row> -->
  <ion-row *ngIf="reservado" style="padding-bottom: 2%;">
    <ion-col text-center>
      <ion-button style="margin: 0px 30%;" (click)="estoyEstacionado()" color="primary" expand="block" fill="outline">ya
        llegu&eacute;
      </ion-button>
    </ion-col>
  </ion-row>

</ion-footer>