<ion-header>
  <ion-toolbar color="primary">
    <ion-title text-center>
      Mis datos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="light" (click)="sendComments()">
      <ion-icon name="chatboxes"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-grid *ngIf="data">
    <ion-row>
      <ion-col size="5">
        <div>
          <img class="avatar"
            src="https://pro-ion4fullpwa.firebaseapp.com/assets/sample-images/notifications/100x100Notification4.jpg">
        </div>
      </ion-col>

      <ion-col>
        <h4>Stefano Rey</h4>
        <p>100xxxxxxxxxx</p>
        <p>miemail@hotmail.com</p>
        <br>
        <!-- <ion-button color="primary" expand="block" fill="outline">editar</ion-button> -->
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- skeleton screen -->
  <ion-grid *ngIf="!data" class="custom-skeleton">
    <ion-row>
      <ion-col size="5">
        <div>
          <ion-skeleton-text class="avatar"></ion-skeleton-text>
        </div>
      </ion-col>

      <ion-col>
        <h4>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </h4>
        <p>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
        <br>
        <!-- <ion-button color="primary" expand="block" fill="outline">editar</ion-button> -->
      </ion-col>
    </ion-row>

  </ion-grid>


  <ion-card *ngIf="data" style="border-radius: 10px;background-color: white;" class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>Monto restante</ion-card-subtitle>
      <ion-card-title style="text-align: center;font-size: 3rem; margin: 10%;">$ 4.50</ion-card-title>
    </ion-card-header>
  </ion-card>

  <!-- skeleton screen card -->
  <ion-card *ngIf="!data" style="border-radius: 10px;background-color: white;" class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>Monto restante</ion-card-subtitle>
      <ion-card-title style="font-size: 3rem; margin: 10%;">
        <ion-skeleton-text text-center animated style="margin:auto;width: 50%;line-height: 50px;"></ion-skeleton-text>
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-list lines="none">
    <!-- <ion-list-header>
      <ion-label>Resources</ion-label>
    </ion-list-header> -->
    <ion-item (click)="goToRecargas()">
      <ion-icon slot="start" color="secondary" name="logo-usd"></ion-icon>
      <ion-label>Recargas</ion-label>
    </ion-item>
    <!-- <ion-item href="https://ionicframework.com/docs/building/scaffolding">
      <ion-icon slot="start" color="medium" name="build"></ion-icon>
      <ion-label>Scaffold Out Your App</ion-label>
    </ion-item>
    <ion-item href="https://ionicframework.com/docs/layout/structure">
      <ion-icon slot="start" color="medium" name="grid"></ion-icon>
      <ion-label>Change Your App Layout</ion-label>
    </ion-item>
    <ion-item href="https://ionicframework.com/docs/theming/basics">
      <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
      <ion-label>Theme Your App</ion-label>
    </ion-item> -->
  </ion-list>
  <br>
  <ion-label>
    La secci&oacute;n de recargas se pretende implementar una modalidad de pago prepago, donde tengas una recarga
    anticipada y de ah&iacute; se ir&aacute; restando de acuerdo al uso que le des al parqueo. Al igual que una recarga
    telef&oacute;nica a medida que se haga uso se va debitado de tu cuenta.
  </ion-label>

</ion-content>